:root {
  --beige: #e1dbc9;
  --verde: #2d4530;
  --azul: #687b84;
  --marron: #5e4b3b;
  --gris: #3c3c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: var(--beige);
}

h1 {
  font-family: "Playfair Display";
  letter-spacing: -5px;
  font-size: 96px;
}

h2 {
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 36px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  font-family: "Playfair Display";
}

h4 {
  font-size: 16px;
  font-family: "Playfair Display";
}

p {
  color: var(--gris);
  font-family: "Roboto";
}
.para {
  text-indent: 60px;
  margin-top: 10px;
}
.para-reduc {
  width: 750px;
}
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.nav-header nav {
  background: var(--beige);
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--gris);
}
.nav-header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 80px;
}
.elem-nav a {
  font-family: "Roboto Condensed";
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  color: var(--gris);
}

.inicio-pagina {
  background-image: url(media/fondo.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.titulo-pagina {
  position: relative;
  bottom: 18%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titulo-pagina h1 {
  text-shadow: 0px 0px 10px var(--azul);
  color: var(--gris);
}
.saber-mas {
  font-family: "Roboto Mono";
  border: none;
  background: var(--marron);
  color: var(--beige);
  width: 180px;
  height: 50px;
  font-size: 14px;
}

.frase-pagina {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cita-coelho {
  width: 650px;
  padding: 20px 25px;
  background: var(--marron);
}
.cita-coelho h2 {
  color: var(--beige);
}
.cita-coelho p {
  font-size: 14px;
  font-family: "Roboto Mono";
  text-align: right;
  color: var(--beige);
}

.seccion-de-pagina {
  color: var(--gris);
  font-size: 14px;
  font-family: "Roboto Mono";
}
.tipo {
  color: var(--beige) !important;
}
.beige {
  color: var(--beige) !important;
}
.info {
  color: var(--verde);
}
.info-pagina {
  overflow-y: hidden;
  display: flex;
  position: relative;
}
.info-pagina article {
  width: 60%;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.info-pagina article h2 {
  color: var(--gris);
}
.mancha-arbol {
  width: 800px;
  right: -200px;
  position: absolute;
  z-index: 10;
}

section:not(.inicio-pagina) {
  padding: 0px 50px;
}

.tipos-pagina {
  width: 100%;
  height: 1180px;
  background: var(--marron);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tipos-pagina span {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.idk {
  color: var(--beige);
  margin-bottom: 20px;
}
.tipo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.imagen-bonsai {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
}
.imagen-bonsai img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.historia-pagina {
  margin-top: 40px;
}
.info-historia {
  background: var(--azul);
  color: var(--beige);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-historia div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  width: 60%;
  height: 100%;
}
.info-historia figure img {
  width: 345px;
  height: 345px;
  object-fit: cover;
}
.info-enlace {
  font-weight: 200;
}
.info-enlace a {
  font-family: "Roboto Mono";
  color: var(--beige);
}

.beneficios-pagina {
  background: var(--gris);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  gap: 40px;
}
.beneficios-pagina article {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.consejo {
  width: 500px;
}

.cuidados-pagina {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-evenly;
  align-items: center;
}
.cuidados-pagina span:first-of-type {
  text-align: left;
  width: 100%;
}

.consejos-cuidado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}
.uno {
  text-align: left;
  color: var(--marron);
}
.dos {
  text-align: right;
  color: var(--verde);
}
.tres {
    text-align: left;
    color: var(--azul);
}
.cuatro {
    text-align: right;
    color: var(--marron);
}
.cinco {
    text-align: left;
    color: var(--verde);
}

.formulario-pagina {
  color: var(--gris);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
  height: 350px;
}
.formulario-pagina h2 {
  margin-bottom: 10px;
}
form input[type="email"] {
  width: 430px;
  height: 42px;
  border: 1px solid var(--marron);
  background: #f6efdc;
  border-radius: 5px;
}
.enviar-email {
  width: 118px;
  height: 42px;
  font-size: 14px;
  font-family: "Roboto Mono";
  border: none;
  background: var(--marron);
  color: var(--beige);
}

img {
  border-radius: 5px;
}

footer {
  background: var(--gris);
  height: 178px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo-pagina {
  display: flex;
  align-items: center;
  gap: 10px;
}
.p-footer {
  color: var(--beige) !important;
}
.creditos {
  font-family: "Roboto Condensed";
}
.enlace-github {
  color: var(--beige);
  font-family: "Roboto Mono";
}
.enlace-github a {
  color: var(--beige);
}
